#project-1 {
	padding: 1rem 1rem 0;

	@include respond-to-width(1024px) {
		padding: 0 5rem;
	}

	@include respond-to-width(1400px) {
		padding: 0 20rem 1rem;
	}
}

#project-gallery {
	@include flex-column-center;
}

.photo {
	border: $border-primary;
	width: 5rem;
	height: 5rem;
}

#project-details {
	padding: 1rem 0 0;
	text-align: justify;

	@include respond-to-width(1024px) {
		margin: 0 auto;
	}
}

.slider-wrapper {
	width: 100%;
}

.slider-wrapper,
#project-details {
	@include respond-to-width(1024px) {
		width: 60%;
	}
}
