#services {
	padding: 0 1rem;
	text-align: justify;

	@include respond-to-width(1024px) {
		padding: 0 5rem;
	}

	@include respond-to-width(1400px) {
		padding: 0 20rem 1rem;
	}
}

#architecture,
#interior-design,
#additional {
	@include flex-layout(column, nowrap);
	@include respond-to-width(1024px) {
		flex-direction: row;
	}
}

.services-img {
	width: 100%;
	height: auto;
	margin-top: 1rem;
}

.english {
	@include respond-to-width(1024px) {
		margin-left: 3rem;
	}
}
