// Contact links
.contact-link {
	border: $border-primary;
	border-radius: $border-radius-primary;
	display: block;
	width: 10rem;
	padding: 1rem;
	margin: 0 auto;
	font-size: 1.1rem;
	font-weight: 500;

	&:first-of-type {
		margin-bottom: 1rem;
	}

	@include respond-to-width(1024px) {
		font-weight: 700;
	}
}

.icon-mobile:before {
	content: '\e958';
}

.icon-envelop:before {
	content: '\e945';
}
