// logo spin
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

// menu
@keyframes slideIn {
	from {
		top: -110%;
	}
}

@keyframes slideOut {
	to {
		top: -110%;
	}
}
